html {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 100;
    color: #e9f7ff;
    background: #222;
    margin: 1vw;
    display: flex;
    justify-content: center;
}

body {
    width: 45rem;
    margin: 0;
}

h1 {
    font-size: 5rem;
    font-weight: 100;
}

.inline {
    display: flex;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
}

.margin-bottom-small {
    margin-bottom: 2rem;
}

.margin-bottom-large {
    margin-bottom: 10rem;
}

.margin-bottom {
    margin-bottom: 4rem;
}

.center-horizontal {
    align-items: center;
}

button {
    border-radius: 60px;
    background: none;
    outline: none;
    border: solid 1px #e9f7ff;
    color: #e9f7ff;
    width: 18rem;
    height: 9rem;
    border-width: 0.4rem;
}

button:active {
    background-color: #fac372;
}

.li {
    background: #ccc;
    color: #222;
    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 11px;
    font-weight: 500;
}

li:active {
    background-color: #fac372;
}

.button-back {
    width: 5rem;
    height: 4rem;
    align-self: center;
    border: none;
}

.svg {
    width: 7rem;
}

.svg-clog {
    width: 6rem;
}

.svg-back {
    width: 4rem;
    margin-right: 1rem;
}

.space-between {
    width: 100%;
    justify-content: space-between;
    width: 41rem;
}

input[type='number'],
input[type='password'],
input[type='text'] {
    border: solid 3px #e9f7ff;
    outline: none;
    background: none;
    border-radius: 25px;
    font-size: 2.3rem;
    height: 3.5rem;
    font-weight: 300;
    color: #e9f7ff;
    padding-left: 1rem;
}

input[type='number'] {
    width: 9rem;
}

input[type='password'],
input[type='text'] {
    width: 40rem;
}

input.switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 10.5rem;
    height: 4rem;
    background-color: #e9f7ff;
    border: 3px solid #e9f7ff;
    border-radius: 5rem;
    box-shadow: inset -6rem 0 0 0 rgb(184, 68, 68);
}

input.switch:checked {
    box-shadow: inset 6rem 0 0 0 rgb(40, 117, 30);
}

.label {
    font-size: 2.5rem;
    color: #e9f7ff;
}

.connect-button {
    width: 41rem;
    font-size: 3rem;
    height: 6rem;
    color: #222;
    background-color: #e9f7ff;
}

.ip {
    font-size: 2rem;
    margin: 1rem;
}

.align-left {
    align-self: flex-start;
    margin-left: 2rem;
}

.hidden {
    visibility: hidden;
    position: fixed;
}

.tag {
    font-size: 2.5rem;
    font-weight: 400;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #e9f7ff;
    color: #222;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection,
.connection-details {
    padding: 1em 1em;
    text-align: center;
    font-size: 3.2rem;
}

.connection-details {
    font-size: 2.5rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.spinner {
    margin: auto 0;
    width: 70px;
    align-self: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgb(235, 235, 235);

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.new-ip {
    font-size: 3em;
    font-weight: 600;
    padding: 0.1em 0.4em;
    background: #ddd;
    color: #222;
    border-radius: 5px;
    align-self: center;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 13px;
        margin: 30px;
        padding: 12px;
    }

    .space-between {
        width: 533px;
        margin-left: 5px;
    }
}
