.component {
    font-size: 1.3rem;
}

/* Remove Arrows from input of type number in Chrome, Safari, Edge, Opera */

.component input::-webkit-outer-spin-button,
.component input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* In Firefox */

.component input[type='number'] {
    -moz-appearance: textfield;
}
